/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
body{
  div{
    padding: 30px;
    input{
      width: 30px;
    }
    .banner{
        ul{
          position: relative;
          li{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            &:first-child{
              opacity: 1;
            }
          }
        }
    }
  }
}